.bg-img,
.container,
.row,
body,
html {
    height: 100%
}

h1 {
    color: #fff;
}

body,
html {
    margin: 0;
    padding: 0
}

body {
    background-color: #141618;
    font-family: Poppins, sans-serif;
    font-weight: 700
}

.bg-img {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: .6;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    will-change: transform
}

.brand a,
ul {
    position: fixed
}

.fa {
    color: #fff;
    font-size: 20px;
    padding-right: 5px;
    padding-top: 5px
}

.container {
    display: table;
    width: 45%;
    margin: 0 auto;
    padding: 0
}

.row {
    display: table-cell;
    vertical-align: middle
}

h1 {
    float: none;
    margin: 0 auto;
    font-size: 5vmax;
    line-height: 1.2
}

.brand a {
    color: #fff;
    font-size: 20px;
    word-spacing: 10px;
    text-decoration: none;
    top: 15px;
    left: 15px
}

ul {
    list-style: none;
    text-align: right;
    right: 15px
}

.red {
  color: #e25b5b;
}
