.list-group-item-action:hover, .list-group-item-action:focus {
    outline: none;
}

.list-group-item {
    border: 0;
    cursor: pointer;
}

.list-group-item.active {
    color: #00bc8c;
    background-color: #303030;
    border-color: #303030;
}

.album-title {
    background-position: center;
    background-size: cover;
    border: 0;
}

.album-title .card-body {
    z-index: 1;
}

.opacity {
    position: absolute;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background: linear-gradient(#30303078, #303030);
}

.form-control {
    font-size: 1.2em;
}

.navbar-brand {
    max-width: 50px;
}

.fa-spinner {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.nav-link {
    cursor: pointer;
}

.fa-volume-up, .fa-volume-off {
    width: 20px;
}

.show-native-controls {
    display: block !important;
    position: fixed;
    bottom: 69px;
    right: 0;
}
